<a href="https://colab.research.google.com/github/frios2020/Big-Transfer/blob/master/Python_Assignment_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Please use Pandas dataFrame to work on the following questions
For each question, I have produced the output for you, so you know what I expect your code to generate. BE CAREFUL, once you run your code, my output will be gone.

**This notebook was developed using google colab, the files were uploaded in it.**

In [3]:
import numpy as np
import pandas as pd

In [20]:
# For this practice, please make sure that you download the "flights.csv" file to your Jupyter folder
# Read flights.csv as a dataframe called flight
flight = pd.read_csv('flights.csv')
flight

   Airport code         Country  ...   Latitude  Longitude
0           PRG  Czech Republic  ...  50.075538  14.437800
1           VIE         Austria  ...  48.208174  16.373819
2           PRG  Czech Republic  ...  50.075538  14.437800
3           MSQ         Belarus  ...  53.904540  27.561524
4           PRG  Czech Republic  ...  50.075538  14.437800
5           TMP         Finland  ...  61.497752  23.760954
6           PRG  Czech Republic  ...  50.075538  14.437800
7           HAM         Germany  ...  53.551085   9.993682
8           PRG  Czech Republic  ...  50.075538  14.437800
9           ATH          Greece  ...  37.983810  23.727539
10          PRG  Czech Republic  ...  50.075538  14.437800
11          DUB         Ireland  ...  53.349805  -6.260310
12          PRG  Czech Republic  ...  50.075538  14.437800
13          MRS          France  ...  43.296482   5.369780
14          PRG  Czech Republic  ...  50.075538  14.437800
15          AMS     Netherlands  ...  52.370216   4.895168
16          PRG  Czech Republic  ...  50.075538  14.437800
17          WAW          Poland  ...  52.229676  21.012229
18          PRG  Czech Republic  ...  50.075538  14.437800
19          LIS        Portugal  ...  38.722252  -9.139337
20          PRG  Czech Republic  ...  50.075538  14.437800
21          BEG          Serbia  ...  44.786568  20.448922
22          PRG  Czech Republic  ...  50.075538  14.437800
23          IST          Turkey  ...  41.008238  28.978359
24          PRG  Czech Republic  ...  50.075538  14.437800
25          DNK         Ukraine  ...  48.464717  35.046183
26          PRG  Czech Republic  ...  50.075538  14.437800
27          FRA         Germany  ...  50.110922   8.682127
28          PRG  Czech Republic  ...  50.075538  14.437800
29          SOF        Bulgaria  ...  42.697708  23.321868

[30 rows x 8 columns]

In [ ]:
# Question 1: Check the column head of the table
flight.head()

  Airport code         Country    City  ... Flow Amount (t)   Latitude  Longitude
0          PRG  Czech Republic  Prague  ...             NaN  50.075538  14.437800
1          VIE         Austria  Vienna  ...           250.0  48.208174  16.373819
2          PRG  Czech Republic  Prague  ...             NaN  50.075538  14.437800
3          MSQ         Belarus   Minsk  ...          1200.0  53.904540  27.561524
4          PRG  Czech Republic  Prague  ...             NaN  50.075538  14.437800

[5 rows x 8 columns]

In [21]:
# Question 2: Find how many rows are in the table (HINT: info.)
len(flight)

30

In [ ]:
# Question 3: What is the average flow amount?
# HINT: Here is one very good example of why the iloc function is useful -- the column name "Flow Amount (t)" would be
# inconvenient to type, so you might want to use the position of the column instead... If you prefer column name, that 
# is fine, too.
flight["Flow Amount (t)"].mean()

616.0

In [ ]:
# Question 4: What is the highest flow amount?
flight["Flow Amount (t)"].max()

1300.0

In [ ]:
# Question 5: Which city has the flow amount of 550?
# Hint: Recall back to our discussion on the relational algebra of SELECTION and the Python bracket notation 
flight.loc[flight["Flow Amount (t)"]==550,'City']

17    Warsaw
Name: City, dtype: object

In [4]:
# Now let's work with the GBI Excel sheet -- if you have done the IO lab, the file should already be in your working folder. 
# Otherwise, please go to canvas and find the file under the IO lab, download it to your working folder. Read GBI file and name it
# GBI
gbi = pd.read_excel('GBI.xlsx')
gbi.columns

Index(['YEAR', 'MONTH', 'DAY', 'Customer', 'CustomerDescr', 'City', 'Salesorg',
       'Country', 'OrderNumber', 'OrderItem', 'Product', 'ProductDescr',
       'Product Category', 'Division', 'SalesQuantity', 'UnitOfMeasure',
       'Revenue', 'Currency', 'Discount', 'CostOfGoodsManufactured',
       'Revenue USD', 'Discount USD', 'Cogm USD'],
      dtype='object')

In [ ]:
# Question 6: What is the average REVENUE for each Product Category? [HINT: You need to group by Product Category]
gbi.groupby("Product Category")["Revenue"].mean()

Product Category
ACC     108.261038
EBI    8610.636888
ORB    7796.678130
ROB    8313.303493
TOU    8299.358516
TRE    1481.536454
Name: Revenue, dtype: float64

In [14]:
# Question 7: How many transations have the lowest revenue?
X = gbi.loc[gbi["Revenue USD"]==gbi["Revenue USD"].min()]
X, print("Num. of transations: " + str(len(X)))

Num. of transations: 84

(       YEAR  MONTH  DAY  ...  Revenue USD Discount USD Cogm USD
 8      2007      1    1  ...         18.0         0.90      9.0
 66     2007      1    2  ...         18.0         0.54      9.0
 118    2007      1    4  ...         18.0         0.54      9.0
 368    2007      1   18  ...         18.0         0.54      9.0
 382    2007      1   19  ...         18.0         0.54      9.0
 ...     ...    ...  ...  ...          ...          ...      ...
 10459  2007     12   25  ...         18.0         0.90      9.0
 10465  2007     12   26  ...         18.0         0.54      9.0
 10495  2007     12   28  ...         18.0         0.90      9.0
 10511  2007     12   28  ...         18.0         0.54      9.0
 10527  2007     12   31  ...         18.0         0.54      9.0

 [84 rows x 23 columns], None)

In [ ]:
# Question 8: What is the average revenue for each year? 
gbi.groupby("YEAR")["Revenue"].mean()

YEAR
2007    4999.140553
2008    5129.561252
2009    4830.588585
2010    4983.660594
2011    5183.147895
Name: Revenue, dtype: float64

In [17]:
# Question 9: How many unique product names are there? 
# HINT: 1. ProductDecr has all product names
# 2. unique() returns an ARRAY
# 3. numpy has a size function that returns the size of an array. Check the Web and learn how to use it

num_unique_products = len(gbi.ProductDescr.unique())
print("There are: " + str(num_unique_products) + " unique product names")

There are: 28 unique product names